<?xml version="1.0" encoding="utf-8"?>
<head>
  <!-- 2021-06-06 Sun 11:59 -->
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Martins Smoking Adventure</title>
  <meta name="author" content="Marco Pawłowski" />
  <meta name="generator" content="Org Mode" />
  <style type="text/css">
    td {
	text-align: center;
    }
    #content { max-width: 60em; margin: auto; }
    

    body {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #1f1f1f;
    }

    #content {
	max-width: 80em;
	margin: auto;
    }

    #outline-container-boxes {
        display: flex;
        flex-flow: row wrap;
    }

    #outline-container-boxes .outline-4 {
        margin: 1em;
        border-style: solid;
        border-width: 0px;
        border-color: #000000;
        min-width: 268px;
        max-width: 268px;
        min-height: 250px;
        box-shadow: 0px 0px 15px 2px #111;
        background-color: #353535;
    }

    h4 {
        text-align: center;
        display: flex;
        justify-content: center;
        background: darkgray;
    }

    h4 span {
        margin-left: 1em;
    }

    .org-ul {
        max-height: 90%;
        padding: 0px;
    }

    .org-ul li {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        min-height: 30px;
        margin: 2px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 35px;
        padding-right: 0px;
    }

    li:hover{
        background-color: #888;
    }

    .tag {
        max-height: 12px;
        min-height: 12px;
        max-width: 12px;
        min-width: 12px;
        display: flex;
        align-content: center;
        align-self: center;
        border-radius: 2px;
    }

    .tag span {
        text-align: center;
        margin: auto;
        font-weight: bold;
        font-size: 1.2em;
    }

    .org-ul li a[href] {
        color: #ddd;
        display: inline-block;
        width: 70%;
        height: 100%;
        min-height: 30px;
        line-height: 2em;
        text-align: center;
        padding: 2px;
        font-size: 0.85em;
        text-decoration: none;
    }

    .org-ul li span.tag {
        display: none;
    }

    #header_banner {
        display: flex;
        align-self: center;
    }

    #clock {
        font-size: 2em;
    }

    #postamble {
        font-size: 0.7em;
        display: flex;
        color: dimgray;
    }

    h1.title {
        display: none;
    }

    h1 {
	color: darkgray;
	border: black;
	border-style: ridge;
        text-align: center;
    }

    @media(min-width: 551px) {
        .flex {
            display: flex;
            background-color: darkgray;
            padding-left: 5em;
            padding-right: 5em;
            flex-wrap: wrap;
        }
        #stats-small {
            display: none;
        }
        #stats-big {
            display: block;
        }
    }

    .flex > div {
        margin : 1em;
        flex-grow: 1;
    }

    @media(max-width: 550px) {
        .flex {
            display: flex;
            background-color: darkgray;
            padding-left: 0.1em;
            padding-right: 0.1em;
            flex-wrap: wrap;
        }
        #stats-small {
            display: block;
        }
        #stats-big {
            display: none;
        }
    }
    
    #duration-counter {
        margin-top : 1em;
    }

  </style>

  <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <body>
      <div id="content">
        <h1 id="h1title">Rauchfreier Martin!</h1>
        
        <div id="outline-container-clock" class="outline-4">
          <h4 id="clock"></h4>
          <div class="outline-text-4" id="text-clock">
          </div>
        </div>
        <div class="flex">
          <div id="scounter">
            <h2 id="h2title"> Rauchfrei Zähler:</h2>
            <div id="duration-counter">

              <table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="">


                <colgroup>
                  <col  class="org-left" />
                  <col  class="org-left" />
                </colgroup>
                <tbody>
                  <tr>
                    <td class="org-left">Jahre:</td>
                    <td class="org-left"><span id="diff_year"></span></td>
                  </tr>

                  <tr>
                    <td class="org-left">Monate:</td>
                    <td class="org-left"><span id="diff_month"></span></td>
                  </tr>

                  <tr>
                    <td class="org-left">Tage:</td>
                    <td class="org-left"><span id="diff_day"></span></td>
                  </tr>

                  <tr>
                    <td class="org-left">Stunden:</td>
                    <td class="org-left"><span id="diff_hour"></span></td>
                  </tr>

                  <tr>
                    <td class="org-left">Minuten:</td>
                    <td class="org-left"><span id="diff_min"></span></td>
                  </tr>

                  <tr>
                    <td class="org-left">Sekunden:</td>
                    <td class="org-left"><span id="diff_sec"></span></td>
                  </tr>
                </tbody>
              </table>

              
              <!--
              <div>Jahre:    <span id="diff_year"></span></div>
              <div>Monate:   <span id="diff_month"></span></div>
              <div>Tage:     <span id="diff_day"></span></div>
              <div>Stunden:  <span id="diff_hour"></span></div>
              <div>Minuten:  <span id="diff_min"></span></div>
              <div>Sekunden: <span id="diff_sec"></span></div>-->
            </div>
          </div>
          <div id="stats-big">
            <h2>Statistik:</h2>
            <table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="">
              <colgroup>
                <col  class="org-left" />
                <col  class="org-left" />
                <col  class="org-left" />
                <col  class="org-left" />
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" class="org-left">Rauchverhalten</th>
                  <th scope="col" class="org-left" id="zigcol">Zigaretten nicht geraucht</th>
                  <th scope="col" class="org-left" id="geldcol">Geld gespart</th>
                  <th scope="col" class="org-left" id="leistcol">Kannst es Dir leisten</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="org-left">1 Packung pro Tag</td>
                  <td class="org-left" id="one_zig"><span>Stk.</span></td>
                  <td class="org-left" id="one_cost"><span>&euro;</span></td>
                  <td class="org-left"><a id="one_cost_button" href="">Kauf</a></td>
                </tr>

                <tr>
                  <td class="org-left">1.5 Packungen pro Tag</td>
                  <td class="org-left" id="oneH_zig"><span>Stk.</span></td>
                  <td class="org-left" id="oneH_cost"><span>&euro;</span></td>
                  <td class="org-left"><a id="oneH_cost_button">Kauf</a></td>
                </tr>

                <tr>
                  <td class="org-left">2 Packungen pro Tag</td>
                  <td class="org-left" id="two_zig"><span>Stk.</span></td>
                  <td class="org-left" id="two_cost"><span>&euro;</span></td>
                  <td class="org-left"><a id="two_cost_button">Kauf</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="stats-small">
            <h2 id="h2titlesmall">Statistik: (drücke auf eine Zeile)</h2>
            <table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="">
              <colgroup>
                <col  class="org-left" />
                <col  class="org-left" />
                <col  class="org-left" />
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" class="org-left">Packungen</th>
                  <th scope="col" class="org-left" id="zigcolsmall">nicht geraucht</th>
                  <th scope="col" class="org-left" id="geldcolsmall">Geld gespart</th>
                </tr>
              </thead>
              <tbody>
                
                <tr id="small-tr-one">
                  <td class="org-left">1/Tag</td>
                  <td class="org-left" id="one_zigS"><span>Stk.</span></td>
                  <td class="org-left" id="one_costS"><span>&euro;</span></td>
                </tr>

                <tr id="small-tr-oneH">
                  <td class="org-left">1.5/Tag</td>
                  <td class="org-left" id="oneH_zigS"><span>Stk.</span></td>
                  <td class="org-left" id="oneH_costS"><span>&euro;</span></td>
                </tr>

                <tr id="small-tr-two">
                  <td class="org-left">2/Tag</td>
                  <td class="org-left" id="two_zigS"><span>Stk.</span></td>
                  <td class="org-left" id="two_costS"><span>&euro;</span></td>
                </tr>
              </tbody>
            </table>
            
          </div>
          
        </div>
      </div>
    </body>

    <script>
      const clockInterval = 100
      const versagt = true
      /**
       * Return a string containing the formatted current date and time.
       */
      function getDateTime() {
          const dateTime = new Date();
          let day = dateTime.getDate();
          let month = dateTime.getMonth() + 1;
          let hour = dateTime.getHours();
          let minutes = dateTime.getMinutes();
          let seconds = dateTime.getSeconds();

          if (hour < 0) {
              hour = 24 + hour;
          }

          let date = (day < 10 ? '0' + day : day) + '/' + (month < 10 ? '0' + month : month) + '/' + dateTime.getFullYear();
          let time = (hour < 10 ? '0' + hour : hour) + ':' + (minutes < 10 ? '0' + minutes : minutes) + ':' + (seconds < 10 ? '0' + seconds : seconds);

          return date + '\n' + time;
      }

      function getStartTime() {
          var TimeZero = Date.parse("2023-09-26T00:00:00.000+01:00");
          return TimeZero
      }

      function calctimediff() {
          var res = {
              years:0,
              months:0,
              days:0,
              hours:0,
              mins:0,
              secs:0
          }

          var difference = Date.now() - getStartTime();
          res.years = Math.floor(difference/31556952000)
          difference = difference - (res.years * 31556952000)
          res.months = Math.floor(difference/2592000000)
          difference = difference - (res.months * 2592000000)
          res.days = Math.floor(difference/86400000)
          difference = difference - (res.days * 86400000)
          res.hours = Math.floor(difference/3600000)
          difference = difference - (res.hours * 3600000)
          res.mins = Math.floor(difference/60000)
          difference = difference - (res.mins * 60000)
          res.secs = Math.floor(difference/1000)
          difference = difference - (res.secs * 1000)
          return res
      }

      function getDiffInSec () {
          var TimeZeroo = getStartTime();
          return Math.floor(((Date.now() - TimeZeroo) / 1000))
      }
      
      function getSmokeFreeTime () {          
          var diff = calctimediff()
          var diff_year =  diff.years
          var diff_month = diff.months
          var diff_days =  diff.days
          var diff_hours = diff.hours
          var diff_mins =  diff.mins
          var diff_sec =   diff.secs

          document.getElementById('diff_year').innerText = diff.years
          document.getElementById('diff_month').innerText = diff.months
          document.getElementById('diff_day').innerText = diff.days  
          document.getElementById('diff_hour').innerText = diff.hours 
          document.getElementById('diff_min').innerText = diff.mins  
          document.getElementById('diff_sec').innerText = diff.secs  
      }

      function getOneZig () {
          return (20/24/60/60)*getDiffInSec()
      }

      function getOneHZig () {
          return (30/24/60/60)*getDiffInSec()
      }

      function getTwoZig () {
          return (40/24/60/60)*getDiffInSec()
      }

      function getOneZigCost () {
          return (20/24/60/60)*getDiffInSec()*0.40
      }

      function getOneHZigCost () {
          return (30/24/60/60)*getDiffInSec()*0.40
      }

      function getTwoZigCost () {
          return (40/24/60/60)*getDiffInSec()*0.40
      }
      
      window.onload = function() {
          const clockElement = document.getElementById('clock');
          function setClock() {
              clockElement.innerText = getDateTime();
          }
          setClock();

          const oneZigElement = document.getElementById('one_zig');
          function setOneZig() {
              oneZigElement.innerText = getOneZig().toFixed(2) + " Stk."
          }
          setOneZig()


          const oneZigCost = document.getElementById('one_cost');
          function setOneZigCost() {
              oneZigCost.innerText = getOneZigCost().toFixed(2) + " €"
          }
          setOneZigCost()


          const oneHZigElement = document.getElementById('oneH_zig');
          function setOneHZig() {
              oneHZigElement.innerText = getOneHZig().toFixed(2) + " Stk."
          }
          setOneHZig()


          const oneHZigCost = document.getElementById('oneH_cost');
          function setOneHZigCost() {
              oneHZigCost.innerText = getOneHZigCost().toFixed(2) + " €"
          }
          setOneHZigCost()


          const twoZigElement = document.getElementById('two_zig');
          function setTwoZig() {
              twoZigElement.innerText = getTwoZig().toFixed(2) + " Stk."
          }
          setTwoZig()


          const twoZigCost = document.getElementById('two_cost');
          function setTwoZigCost() {
              twoZigCost.innerText = getTwoZigCost().toFixed(2) + " €"
          }
          setTwoZigCost()



          const oneZigElementS = document.getElementById('one_zigS');
          function setOneZigS() {
              oneZigElementS.innerText = getOneZig().toFixed(2) + " Stk."
          }
          setOneZigS()


          const oneZigCostS = document.getElementById('one_costS');
          function setOneZigCostS() {
              oneZigCostS.innerText = getOneZigCost().toFixed(2) + " €"
          }
          setOneZigCostS()


          const oneHZigElementS = document.getElementById('oneH_zigS');
          function setOneHZigS() {
              oneHZigElementS.innerText = getOneHZig().toFixed(2) + " Stk."
          }
          setOneHZigS()


          const oneHZigCostS = document.getElementById('oneH_costS');
          function setOneHZigCostS() {
              oneHZigCostS.innerText = getOneHZigCost().toFixed(2) + " €"
          }
          setOneHZigCostS()


          const twoZigElementS = document.getElementById('two_zigS');
          function setTwoZigS() {
              twoZigElementS.innerText = getTwoZig().toFixed(2) + " Stk."
          }
          setTwoZigS()


          const twoZigCostS = document.getElementById('two_costS');
          function setTwoZigCostS() {
              twoZigCostS.innerText = getTwoZigCost().toFixed(2) + " €"
          }
          setTwoZigCostS()


          function createUrl(maxCost) {
              return "https://suchen.mobile.de/fahrzeuge/search.html?damageUnrepaired=ALSO_DAMAGE_UNREPAIRED&grossPrice=true&isSearchRequest=true&maxPrice="
              + maxCost +
              "&ref=srpHead&scopeId=MB&sortOption.sortBy=searchNetGrossPrice&sortOption.sortOrder=DESCENDING&refId=575f746d-8e57-1122-d77a-e4b7f89d6cb8"
          }
          
          const oneZigCostButton = document.getElementById('one_cost_button');
          function setOneZigCostButton() {
              oneZigCostButton.href = createUrl(getOneZigCost() | 0)
          }
          setOneZigCostButton()

          const oneHZigCostButton = document.getElementById('oneH_cost_button');
          function setOneHZigCostButton() {
              oneHZigCostButton.href = createUrl(getOneHZigCost() | 0)
          }
          setOneHZigCostButton()

          const twoZigCostButton = document.getElementById('two_cost_button');
          function setTwoZigCostButton() {
              twoZigCostButton.href = createUrl(getTwoZigCost() | 0)
          }
          setTwoZigCostButton()

          
          const oneZigCostButtonS = document.getElementById('small-tr-one');
          function setOneZigCostButtonS() {
              oneZigCostButtonS.onclick = function() {
                  window.location = createUrl(getOneZigCost() | 0)
              } 
          }
          setOneZigCostButtonS()

          const oneHZigCostButtonS = document.getElementById('small-tr-oneH');
          function setOneHZigCostButtonS() {
              oneHZigCostButtonS.onclick = function() {
                  window.location = createUrl(getOneHZigCost() | 0)
              } 
          }
          setOneHZigCostButtonS()

          const twoZigCostButtonS = document.getElementById('small-tr-two');
          function setTwoZigCostButtonS() {
              twoZigCostButtonS.onclick = function() {
                  window.location = createUrl(getTwoZigCost() | 0)
              } 
          }
          setTwoZigCostButtonS()

          
          setInterval(() => {
              setClock();
              getSmokeFreeTime();
              setOneZig()
              setOneZigCost()
              setOneHZig()
              setOneHZigCost()
              setTwoZig()
              setTwoZigCost()

              setOneZigS()
              setOneZigCostS()
              setOneHZigS()
              setOneHZigCostS()
              setTwoZigS()
              setTwoZigCostS()

              setOneZigCostButton()
              setOneHZigCostButton()
              setTwoZigCostButton()

              setOneZigCostButtonS()
              setOneHZigCostButtonS()
              setTwoZigCostButtonS()
        }, clockInterval);


        if (versagt) {
            document.getElementById('h1title').innerText = "Rauchender Martin!"
            document.getElementById('h2title').innerText = " Versager Zähler:"
            document.getElementById('zigcol').innerText = "Zigaretten geraucht"
            document.getElementById('geldcol').innerText = "Geld verloren"
            document.getElementById('leistcol').innerText = "Hast Du weggeraucht"

            document.getElementById("h2titlesmall").innerText = "Statistik: (drücke und weine)"
            document.getElementById('zigcolsmall').innerText = "geraucht"
            document.getElementById("geldcolsmall").innerText = "Geld verloren"
            
            document.body.style.backgroundColor = "#751400";
        }
          
        
      }
    </script>

  </html>


